* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  background-color: darkblue;
  color: white;
  font-size: 24px;
  text-indent: 12px;
}

table {
	border-collapse: collapse;
}

table td {
	padding: 15px;
}

table th {
	background-color: #54585d;
	color: #ffffff;
	font-size: 14px;
	border: 1px solid #54585d;
}

table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}

table tbody tr {
	background-color: #f9fafb;
}

table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

table tbody tr:hover {
  background-color: lightgrey;
}

#True {
  background-color: darkgreen;
  color: white;
  text-align: center;
  font-weight: bold;
}

#False {
  background-color: darkred;
  color: white;
  text-align: center;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: darkorange;
}

code {
  background-color: darkslateblue;
  color: whitesmoke;
  border-radius: 0.3rem;
  padding: 4px 5px 5px;
  white-space: nowrap;
}
