{% extends "base.html" %}

{% block content %}

<h1>Task list</h1>

<h3>Get tasks</h3>
<a href="/api/tasks"><code>
<pre>
  <code class="language-json"">
  GET /api/tasks
  </code>
</pre>
</a>

<h3>Create task</h3>
<pre>
  <code class="language-json">
  POST /api/tasks
  Content-Type: application/json

  {
    "title":"New task"
  }
  </code>
</pre>

<h3>Update task</h3>
<pre>
  <code class="language-json">
  PUT /api/tasks/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  Content-Type: application/json

  {
    "title":"Updated task"
  }
  </code>
</pre>

<h3>Delete task</h3>
<pre>
  <code class="language-json">
  DELETE /api/tasks/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
  </code>
</pre>

{% endblock %}
