<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/highlight/styles/atom-one-dark.min.css">
    <script src="../static/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <title>App22</title>
  </head>
  <body>
    <ul class=header>
      <li class=menu><a href="/">About</a></li>
      <li class=menu><a href="/headers">Headers</a></li>
      <li class=menu><a href="/database">Database</a></li>
      <li class=menu><a href="/api">API</a></li>
      <li class=menu><a href="/metrics">Metrics</a></li>
      <li class=info>Server: {{ template_server }}</li>
      <li class=info>Client: {{ template_client }}</li>
    </ul>
    {% block content %}
    {% endblock %}
  </body>
</html>