<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/styles.css">
    <title>test22</title>
  </head>
  <body>
    <ul>
      <li><a href="/">About</a></li>
      <li><a href="/headers">Headers</a></li>
      <li><a href="/database">Database</a></li>
      <li><a href="/api">API</a></li>
      <li><a href="/metrics">Metrics</a></li>
    </ul>
    {% block content %}
    {% endblock %}
  </body>
</html>