{% extends "base.html" %}

{% block content %}
<h1> Database </h1>
  {% if not template_db_status['Connected'] %} 
  {% endif %}
  <table>
    <tbody class="database">
        {%if not template_db_status['Connected']%}
        <tr>
          <td class="key"><b>Connected:</b></td>
          <td id="{{ template_db_status['Connected'] }}" class="value">{{ template_db_status['Connected'] }}</td>
        </tr>
        {% endif %}
        {% if template_db_status['Connected']%}
        {% for key,value in template_db_status.items()%}
        <tr>
          <td class="key"><b>{{ key }}:</b></td>
          <td id="{{ value }}" class="value">{{ value }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
  </table>
{%if template_db_status['Connected']%}
<h1> Data </h1>
  <table>
    <tbody class="data">
    <tr>
    {%- for column in template_db_data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
    {%- for row in template_db_data[1] %}
    <tr>
    {%- for data in row %}
      <td>{{ data }}</td>
    {%- endfor %}
    </tr>  
    {%- endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}